* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0 8%;
}

.auth-header {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-header > * {
    margin: 12px 0;
}

.brand-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #875F9A;
}

.auth-divider {
    display: flex;
    width: 50%;
    height: 1px;
    border-radius: 2px;
    background-color: #666666;
    opacity: 0.25;
}

.auth-container {
    display: flex;
    flex: 3;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container-social {
    display: flex;
}

.social-facebook {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 56px;
    width: auto;
    padding: 8px 28px;
    background-color: #3b5998;
    border: none;
    outline: none;
    font-family: Circular, Helvetica, Arial, sans-serif;
    border-radius: 28px;
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
}

.container-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-action > * {
    margin: 16px 0;
}

.container-form {
    display: flex;
}

.action-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action-form > * {
    margin: 12px 0;
}

.action-description {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.action-description > * {
    margin: 8px 0;
}

.description-divider {
    width: 100%;
    opacity: 0.1;
}

.description-bare {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.form-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-elements > * {
    margin: 12px 0;
}

.form-element {
    display: flex;
    position: relative;
}

.auth-placeholder {
    position: absolute;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
    font-family: Calibre, Circular, Helvetica, Arial, sans-serif;
    color: #666666;
    transition: transform 100ms ease-in-out;
}

.auth-placeholder-idle {
    transform: translate(9.25px, calc(28px - 50%));
}

.auth-placeholder-active {
    transform: translate(9.25px, -50%);
}

.element-input {
    display: flex;
    border: 1.25px solid #e0e0e0;
    background-color: transparent;
    border-radius: 4px;
    color: #212121;
    font-family: Calibre, Circular, Helvetica, Arial, sans-serif;
    padding: 0 12px;
    height: 56px;
    width: 280px;
}

.element-input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-action {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.auth-submit {
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 40px;
    width: auto;
    padding: 8px 16px;
    background-color: #875F9A;
    font-family: Calibre, Circular, Helvetica, Arial, sans-serif;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 0.08em;
    color: white;
}

.auth-remember-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

.auth-remember-container > * {
    margin: 0 4px;
}

.auth-remember-text {
    font-family: Calibre, Circular, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.action-redirection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redirection-info {
    color: #212121;
    font-size: 14px;
    font-family: Calibre, Circular, Helvetica, Arial, sans-serif;
}

.redirection-info:first-letter {
    text-transform: uppercase;
}

.redirection-mode {
    color: #875F9A;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: capitalize;
}