* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, p, span {
    font-family: Circular, Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25%;
}

/* Settings */
.chatify-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

/* Action */
.chatify-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    flex: 6;
    width: 100%;
}

.activity-result, .activity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.activity-result {
    overflow-y: auto;
    flex: 1;
}

.activity-input {
    width: 100%;
}

#form-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 16px;
}

.form-input-content, .form-input-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.form-input-content {
    flex: 1;
    margin-bottom: 8px;
}

.form-input-value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 32px;
    background-color: transparent;
    border: none;
    line-height: 1.75;
    font-size: 14px;
    color: #454545;
}

.form-input-value::placeholder {
    color: #acacac;
}

.form-input-content, .form-input-content::placeholder {
    font-size: 13px;
    font-family: "SF Compact Text", sans-serif;
    letter-spacing: 0.125em;
}

textarea {
  resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

/* Form Action */
.form-input-action {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.form-input-submit {
    transform: translate(0, calc(-20% + 7px));
    width: 18px;
    height: 18px;
    margin: 0 8px;
}

.form-input-submit-inactive {
    opacity: 0.4;
}

.form-input-submit-active {
    opacity: 1.0;
}

/* Tools */
.form-input-tools {
    justify-content: flex-start;
    margin-top: 8px;
}

.form-input-tools > *:not(:first-child):not(:last-child) {
    margin: 0 12px;
}

.tools-icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
    opacity: 0.4;
}

.tools-icon:hover {
    opacity: 0.6;
}

.activity-result::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.activity-result::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    padding: 16px;
    border-radius: 8px;
    background-color: hsl(313, 38%, 75%);
}

.activity-result::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
}

/* Social */
.chatify-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 32px;
}

.social-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 32px;
}

.social-profile-col {
    flex-direction: column;
    padding: 8px;
    opacity: 0.8;
}

.social-profile-col:hover {
    opacity: 1.0;
}

.social-profile > * {
    margin: 0 8px;
}

.social-profile-col > * {
    margin: 4px 0;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-name {
    font-size: 12px;
}

.social-miscellaneous {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.social-search {
    justify-content: flex-end;
}

.social-search > * {
    margin: 0 8px;
}

.search-icon {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.search-icon:hover {
    opacity: 1.0;
}

.social-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-new {
    transform: translate(0, -2px);
    font-size: 14px;
    color: #454545;
}

/* Miscellaneous */
.activity-divider-full {
    height: 1px;
    border-radius: 50%;
    width: 100%;
    background-color: #EDEDED;
}

.activity-divider {
    height: 1px;
    border-radius: 50%;
    width: 100%;
    background-color: #EDEDED;
}

.activity-divider-label {
    position: relative;
    display: flex;
    justify-content: center;
}

.divider-label {
    position: absolute;
    transform: translate(0, calc(-50% - 0.5px));
    background-color: #FFFFFF;
    padding: 8px;
    font-size: 14px;
    color: #ADADAD;
}