<!DOCTYPE html>
<html>
    <head>
        <title>Chatify</title>
        <link rel="stylesheet" href="{{ static_url('auth/style.css') }}" type="text/css">
    </head>
    <body>
        <div class="auth-header">
            <div class="header-brand">
                <p class="brand-title">Chatify</p>
            </div>
            <div class="auth-divider"></div>
        </div>
        <div class="auth-container">
            {% if not user %}
                <div class="container-social">
                    <a class="social-facebook" href="/auth/sign/facebook">{{ escape(auth.mode) }} with Facebook</a>
                </div>
            {% end %}
            <div class="container-action">
                {% if not user %}
                    <div class="action-description">
                        <div class="auth-divider description-divider"></div>
                        <p class="description-bare">Or {{ escape(auth.mode) }} with your email</p>
                    </div>
                {% end %}
                <form class="action-form" method="post" action="http://localhost:8000/auth/{{ escape(auth.auth_mode) }}" novalidate="novalidate">
                    <ul class="form-elements">
                        {% if user %}
                            <div class="form-active">
                                {% if user.picture %}
                                    <img class="auth-picture-active" src="{{ user.picture.url }}" alt="Profile Picture"/>
                                {% end %}
                                <div class="auth-meta-active">
                                     <p class="meta-name">Hi <strong>{{ user.first_name }}</strong>, there is one more step.</p>
                                     <p class="meta-email">Linked e-mail - <em class="email-link">{{ user.email }}</em></p>
                                </div>
                            </div>
                        {% else %}
                            <li class="form-element">
                                <label class="auth-placeholder auth-placeholder-idle" for="auth-email">Email</label>
                                <input id="auth-email" class="element-input" type="text" name="email" autocomplete required/>
                            </li>
                        {% end %}
                        <li class="form-element">
                            <label class="auth-placeholder auth-placeholder-idle" for="auth-password">Password</label>
                            <input id="auth-password" class="element-input" type="password" name="password" autocomplete required/>
                        </li>
                        {% if auth.auth_sign %}
                            <li class="form-element">
                                <label class="auth-placeholder auth-placeholder-idle" for="auth-name">Name</label>
                                <input id="auth-name" class="element-input" type="text" name="name" required/>
                            </li>
                        {% end %}
                    </ul>
                    <div class="form-action">
                        <input class="auth-submit" type="submit" value="{{ escape(auth.mode) }}"/>
                        <div class="auth-remember-container">
                            <input id="auth-remember" class="auth-remember" type="checkbox" name="remember" value="true"/>
                            <label class="auth-remember-text" for="auth-remember">Remember Me</label>
                        </div>
                    </div>
                </form>
                <div class="action-redirection">
                    {% if user %}
                        <a href="/chatify">
                            <p class="redirection-bare">Or, continue without password auth</p>
                        </a>
                    {% else %}
                        <p class="redirection-info">{{ auth.redirection }}
                            <a href="/auth/{{ auth.redirect }}">
                                <span class="redirection-mode">{{ auth.redirection_mode }}</span>
                            </a>
                        </p>
                    {% end %}
                </div>
            </div>
        </div>
        <script src="{{ static_url('auth/script.js') }}" type="text/javascript">
            let application = new Application();
        </script>
    </body>
 </html>