<!DOCTYPE html>
<html lang="en" ng-app="chatify">
    <head>
        <meta charset="UTF-8">
        <title>Chatify</title>
        <link rel="stylesheet" href="{{ static_url('chatify/style.css') }}" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    </head>
    <body ng-controller="main">
        <section class="chatify-settings">
            <div class="chatify-profile">
                {% if user %}
                    <div class="social-profile">
                        <img class="profile-picture" src="{{ user.picture }}" alt="My Picture"/>
                        <p class="profile-name">{{ user.name }}</p>
                    </div>
                {% end %}
            </div>`
        </section>
        <div class="activity-divider"></div>
        <section class="chatify-action">
            <div class="activity-result">
            </div>
            <div class="activity-divider-full"></div>
            <div class="activity-input">
                <form id="form-input" method="post" action="chat/input">
                    <div class="form-input-content">
                        <textarea class="form-input-value" name="message-input" ng-model="chatInputValue"
                                  ng-focus="chatFocusIn()" ng-focusout="chatFocusOut()" form="form-input" placeholder="Type here..."></textarea>
                        <div class="form-input-action">
                            <input class="form-input-submit" ng-class="{'form-input-submit-inactive': !chatInputValue}" src="{{ static_url("assets/send-button.svg") }}" type="image" alt="Submit"/>
                        </div>
                    </div>
                    <div class="form-input-tools">
                        {% set tools = ["emoji.svg", "picture.svg", "photo-camera.svg"] %}
                        {% for tool in tools %}
                            <img class="tools-icon" src="{{ static_url("assets/" + tool) }}" alt="Tool Action"/>
                        {% end %}
                    </div>
                </form>
            </div>
        </section>
        <div class="activity-divider activity-divider-label">
            <p class="divider-label">Friends</p>
        </div>
        <section class="chatify-social">
            <div class="social-miscellaneous social-search">
                <img class="search-icon" src="{{ static_url("assets/magnifying-glass.svg") }}" ng-click="toggleSearch()" alt="Search Icon"/>
                <input class="search-input" ng-show="search" ng-model="searchInputValue" ng-change="onSearchChange()" placeholder="Search People"/>
            </div>
            <div class="social-friends">
                <div ng-if="search">
                    <div ng-if="people.length > 0">
                        <div ng-repeat="person in people">
                            <div class="social-profile social-profile-col">
                                <img class="profile-picture profile-picture-social" src="[[ person.picture ]]" alt="[[ person.name ]] Picture"/>
                                <p class="profile-name">[[ person.first_name ]]</p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="people.length === 0">
                        <p class="social-new">Nothing could be found.</p>
                    </div>
                </div>
                <div ng-if="!search">
                    {% if friends is not None %}
                        {% if len(friends) %}
                            {% for friend in friends %}
                                <div class="social-profile social-profile-col">
                                    <img class="profile-picture profile-picture-social" src="{{ friend.picture }}" alt="{{ friend.name + " Picture"}}"/>
                                    <p class="profile-name">{{ friend.first_name }}</p>
                                </div>
                            {% end %}
                        {% else %}
                            <p class="social-new">Search for new friends</p>
                        {% end %}
                    {% end %}
                </div>
            </div>
            <div class="social-miscellaneous">
            </div>
        </section>
        <script src="{{ static_url('chatify/script.js') }}" type="text/javascript">
            let application = new Application();
        </script>
    </body>
 </html>